//reset
h2, p {
  margin: 0;
}

// variables
$card-font: "nunito sans", Arial, Helvetica, sans-serif;
$secondary-font-color: #3b3b3b;
$card-border-color: lightgrey;
$card-border-radius: 0.3rem;
$small-mobile: 360px;
$large-mobile: 414px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

article {
  min-width: 90%;
  .card {
    display: inline-block;
    font-size: 12px;
    min-width: 200px;
    font-family: $card-font;
    font-weight: lighter;
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
    header {
      display: flex;
      color: white;
      padding: 1rem;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      background-image: linear-gradient(61deg,#0045ff 2%,#01d2a3 80%);
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        margin-right: 1rem;
        img {
          width: 100%;
        }
      }
    }
    .card-image {
      width: 100%;
    }
    .description {
      color: $secondary-font-color;
      padding: 0.5rem 1rem 0 1rem
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      .button-container {
        width: 70%;
        button {
          color: $secondary-font-color;
          width: 40%;
          padding: 0.2rem;
          border-radius: 10px;
          border: $secondary-font-color solid 1px;
          background-color: transparent;
          &:hover {
            cursor: pointer;
          }
        }
        .register-button {
          color: white;
          background-color:#ff487e;
          border: none;
        }
        // disable button
        .disableButton {
          display: none;
        }
      }
      .icon-container {
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        img {
          color: white;
          width: 25%;
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }

    @media screen and (min-width: $small-mobile) {
      header {
        .logo {
          width: 15%;
        }
        h2 {
          font-size: 1.5rem;
          padding-bottom: 0;
        }
        p {padding-top: 0.4rem;}
      }
    }

    @media screen and (min-width: $large-mobile) {
      font-size: 14px;
      header {
        .logo {
          width: 15%;
        }
      }
    }
  
    @media screen and (min-width: $tablet) {
      font-size: 14px;
       width: 33%;
      header {
        .logo {
          width: 20%;
        }
        h2 { padding-bottom: 0.2rem;}
        p {padding-top: 0.1rem;}
      }
      footer {
        .icon-container {
          img {
            width: 25%;
          }
        }
      }
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
    @media screen and (min-width: $large-desktop) {
      header {
        .logo {
          margin-right: 1rem;
          width: 12%;
        }
      }
      footer {
        .icon-container {
          img {
            width: 20%;
          }
        }
      }
    }
  }
}